{template header}
<div class="toolbar">
	<ul class="tab">
    	<li{if $tab=='all'} class="on"{/if}><a href="/?m={$G[m]}&c={$G[c]}&a={$G[a]}&tab=all">全部广告</a></li>
        <li{if $tab=='normal'} class="on"{/if}><a href="/?m={$G[m]}&c={$G[c]}&a={$G[a]}&tab=normal">正常</a></li>
        <li{if $tab=='pending'} class="on"{/if}><a href="/?m={$G[m]}&c={$G[c]}&a={$G[a]}&tab=pending">待审核</a></li>
        <li{if $tab=='unaudit'} class="on"{/if}><a href="/?m={$G[m]}&c={$G[c]}&a={$G[a]}&tab=unaudit">审核未过</a></li>
    </ul>
</div>
{template footer}