@import "common.css";
.side-bar{width: 160px; height: 480px; float: left; border-right: 1px #DDD solid;}
.main-frame{overflow: hidden;}
.main-frame .title{padding-bottom: 10px; font-size: 14px; border-bottom: 1px #e8e8e8 solid; position: relative;}
.main-frame .title .upload-button{
    position: relative; border-radius: 5px;
    float: right; margin: 0;
}
.main-frame .content{display: block; height: 440px; overflow: hidden; position: relative;}
.main-frame .image-list{display: block; height: 400px; overflow: auto; padding: 10px 0; margin-right: -25px; position: relative;}
.main-frame .image-list ul{display: block;}
.main-frame .image-list ul li{width: 20%; float: left; margin-bottom: 10px; cursor: pointer;}
.main-frame .image-list ul li .con{display: block; margin-right: 10px;}
.main-frame .image-list ul li .img{
    padding-top: 100%; display: block; position: relative;
    -webkit-background–size: cover;
    -moz-background–size: cover;
    -o-background–size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/common/placeholder.png");
    -ms-behavior: url(../images/common/backgroundsize.min.htc);
    behavior: url(../images/common/backgroundsize.min.htc);
}
.main-frame .action-bar{height: 40px; display: block;}
.main-frame .action-bar .pagination{padding-top: 7px; text-align: center;}
.ui-overlayer{background-color: #CCC;}
