{template header}
<div class="item">
    <div class="item-vertical-list">
        <ul id="item-list-ul">
            {foreach $collection_list $itemid $item}
            <li>
                <div class="list-item" id="item_{$itemid}" handler="viewItem" data-id="{$itemid}">
                    <div class="g-pic bg-cover lazyload" id="pic_{$itemid}" data-original="{$item[thumb]}"></div>
                    <div class="g-info">
                        <h3>{$item[title]}</h3>
                        <div class="price">
                            <span>￥</span>
                            <strong>{amount:$item[price]}</strong>
                        </div>
                        <span class="sold">已售{$item[sold]}件</span>
                    </div>
                </div>
            </li>
            {/foreach}
        </ul>
    </div>
</div>
{template footer}
