{template header}
<div class="order">
    <div class="order-list">
        {loop $order_list $order_id $order}
        <section class="list-item">
            <div class="top">
                <span class="trade-status">
                    {if $order[trade_status]==4||$order[trade_status]==5}
                    交易成功
                    {else}
                    {$order[trade_status_tips]}
                    {/if}
                </span>
                <span class="shop-name">{$order[shop_short_name]}</span>
            </div>
            {loop $order[items] $itemid $item}
            <div class="order-item orderAction" data-action="viewdetail" data-id="{$order_id}">
                <div class="pic bg-cover cell" style="background-image: url({img $item[thumb]})"></div>
                <div class="info cell">
                    <h3>{$item[title]}</h3>
                    <p class="attrs">七夕大优惠</p>
                    <div class="right">
                        <div class="price">￥{amount:$item[price]}</div>
                        <div class="price"><s>￥{amount:$item[market_price]}</s></div>
                        <div class="quantity">x{$item[quantity]}</div>
                    </div>
                </div>
            </div>
            {/loop}
            <div class="simple">
                共{$order[item_count]}件商品 合计:<strong>￥{amount:$order[total_fee]}</strong>(含运费:<strong>￥{amount:$order[shipping_fee]}</strong>)
            </div>
            <div class="action-bar">
                {if $order[trade_status]==1}
                <a class="btn orderAction" data-action="pay" data-id="{$order_id}">立即支付</a>
                {elseif $order[trade_status]==2}
                <a class="btn orderAction" data-action="notice" data-id="{$order_id}">提醒卖家发货</a>
                {elseif $order[trade_status]==3}
                <a class="btn orderAction" data-action="confirm" data-id="{$order_id}">确认收货</a>
                {elseif $order[trade_status]==4}
                <a class="btn orderAction" data-action="evaluate" data-id="{$order_id}">立即评价</a>
                {elseif $order[trade_status]==5}
                <a class="btn orderAction" data-action="refund" data-id="{$order_id}">申请退货</a>
                {/if}
            </div>
        </section>
        {/loop}
    </div>
</div>
<div style="clear: both; height: 20px;"></div>
<script type="text/javascript">
    onBridgeReady(function (bridge) {
        $(".orderAction").on('click', function (e) {
            var action = $(this).attr('data-action');
            var order_id = $(this).attr('data-id');
            bridge.callHandler('executeOrderAction', {"action":action,"order_id":order_id});
        });
    });
</script>
{template footer}